<center><h1>Your Baby Dragons ... </h1> </center>

  <p>
    <strong>Dragon Baby Name:</strong>
    <%= @dragon.name %>
  </p>

  <p>
    <strong>Your Name:</strong>
    <%= @dragon.owner_name %>
  </p>

  <%= link_to 'START THE GAME', play_path %> <p>
  <%= link_to 'SHOW ALL BABY DRAGONS', exibe_todos_path %>
</p>