<%= stylesheet_link_tag "filename" %>

<h1><center>WELCOME TO THE DRAGON BABY TAMAGOSHI WORLD</h1></center>

<body>
    <img src="https://clashofclans.com/uploaded-images/_1440x900_crop_center-center_90/Baby_D.png?mtime=20160623143102">
</body>

<!--- ideia de colocar um botão com um link para iniciar o jogo , ver sobre forms--> 